body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    color: #444;
    background-color: #F5F5F5;
    font-family: 'Courier New', monospace;
    font-size: 14px;
    font-weight: normal;
}

a {
    text-decoration: none;
}

#container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: table;
    position: absolute;
    top: 0;
    left: 0;
}

#midContainer {
    margin: 0;
    padding: 0;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#glContainer {
    margin: 0 auto;
    padding: 0;
    position: relative;
}

#glCanvas {
    cursor: pointer;
    border: thin solid #666;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#surfacePanel,
#welcomePanel,
#loadingPanel,
#helpPanel,
#noWebGLPanel {
    width: 1280px;
    height: 720px;
    margin: 0 0 0 -641px;
    padding: 0;
    position: absolute;
    top: 0;
    left: 50%;
    overflow-y: auto;
    border: thin solid #666;
    display: none;
}

#welcomePanel,
#loadingPanel,
#noWebGLPanel {
    border-color: #F5F5F5;
    background-color: #F5F5F5;
}

#loadingPanel {
    display: inline-block;
}

#loadingPanel h1,
#noWebGLPanel h1 {
    position: absolute;
    top: 50%;
    margin: 0;
    width: 100%;
}

#welcomeInnerPanel {
    margin-top: 136px;
}

#welcomePanel a {
    color: #777;
}

#welcomePanel a:hover {
    color: #AAA;
}

#welcomePanel p {
    margin-bottom: 0;
}

#surfacePanel,
#helpPanel {
    color: #EEE;
    background: url("assets/images/surfaces_bg.png") repeat;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#surfacePanel h1 {
    margin-bottom: 8px;
}

#surfacePanel a {
    color: #CCC;
    font-weight: bold;
}

#surfacePanel a:hover {
    color: #EEE;
}

#info {
    margin-top: 24px;
}

input[type=checkbox] {
    visibility: hidden;
}

#surfaceTable,
#welcomeTable,
#helpTable {
    border-spacing: 0;
    border-collapse: collapse;
    width: 50%;
    margin: 16px auto;
}

#helpTable {
    margin: 24px auto;
}

#welcomeTable {
    font-size: 16pt;
}

#welcomeTable td {
    width: 50%;
    padding: 32px 0;
}

#surfaceTable tr td:first-of-type,
#helpTable tr td:first-of-type {
    text-align: left;
}

#helpTable tr td:last-of-type {
    width: 20%;
    text-align: right;
}

#helpTable td {
    padding: 8px 0;
}

#credits {
    width: 60%;
    margin: 16px auto 32px auto;
}

#credits a {
    color: white;
    font-weight: bold;
}

h4 {
    margin: 32px 0 0 0;
}

#helpMsg {
    display: none;
}

.slider {
    float: right;
    width: 50px;
    height: 10px;
    background: #444;
    margin: 20px auto;

    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    position: relative;

    -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
    -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}

.slider label {
    display: block;
    width: 16px;
    height: 16px;

    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;

    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease;
    cursor: pointer;
    position: absolute;
    top: -3px;
    left: -3px;

    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    background: #fcfff4;

    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.slider input[type=checkbox]:checked + label {
    left: 37px;
}

.browseButton {
    width: 128px;
    height: 32px;
    outline: none;
    cursor: pointer;
    display: inline-block;
    margin: 0 8px;
}

input[type="file"] {
    display: none;
}